<template>
    <div>
        <Navbar />
        <div class="container-fluid d-flex justify-content-between">
            <Sidebar activeLink="account-settings"/>
            <div class="container mt-5 mx-5 w-75">
            </div>
        </div>
    </div>
</template>

<script>

import Navbar from "../navigation/Navbar";
import Sidebar from "../navigation/Sidebar";

export default {
    components: {
        Navbar,
        Sidebar,
    }
};
</script>

<style></style>
