<template>
    <div>
        <Navbar />
        <div class="container-fluid d-flex justify-content-between">
            <Sidebar activeLink="dashboard" />
            <div class="container position-fixed">
                <div class="row text-center d-flex justify-content-between">
                    <div
                        class="col box shadow d-flex justify-content-between align-items-center bg-light"
                    >
                        <span
                            class="w-25  p-5 d-flex justify-content-center align-content-center bg-dark"
                            ><i
                                class="fas fa-cubes fa-3x float-right text-light"
                            ></i>
                        </span>
                        <span
                            class="w-100 d-flex flex-column justify-content-center align-items-center"
                        >
                            <span class="mb-3">Products</span>
                            <h3>{{ totalProduct }}</h3>
                        </span>
                    </div>
                    <div
                        class="col box shadow d-flex justify-content-between align-items-center bg-light"
                    >
                        <span
                            class="w-25  p-5 bg-dark d-flex justify-content-center align-content-center"
                            ><i
                                class="fas fa-box-open fa-3x float-right text-light"
                            ></i>
                        </span>
                        <span
                            class="w-100 d-flex flex-column justify-content-center align-items-center"
                        >
                            <span class="mb-3">Out of Stock</span>
                            <h3>{{ outOfStock }}</h3>
                        </span>
                    </div>
                    <div
                        class="col box shadow d-flex justify-content-between align-items-center bg-light"
                    >
                        <span
                            class="w-25  p-5 bg-dark d-flex justify-content-center align-content-center"
                            ><i
                                class="fas fa-layer-group fa-3x float-right text-light"
                            ></i>
                        </span>
                        <span
                            class="w-100 d-flex flex-column justify-content-center align-items-center"
                        >
                            <span class="mb-3">Categories</span>
                            <h3>{{ totalCategories }}</h3>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Sidebar from "../navigation/Sidebar";
import Navbar from "../navigation/Navbar";
import { mapActions, mapGetters } from "vuex";

export default {
    components: {
        Sidebar,
        Navbar
    },
    data() {
        return {};
    },
    computed: {
        ...mapGetters({
            token: "getToken",
            totalProduct: "getTotalProduct",
            outOfStock: "getOutOfStock",
            totalCategories: "getTotalCategories"
        })
    },
    methods: {
        ...mapActions([
            "fetchUser",
            "fetchTotalProduct",
            "fetchProducts",
            "fetchOutOfStock",
            "fetchCategories",
            "fetchTotalCategories"
        ])
    },
    async created() {
        await this.fetchUser();
        await this.fetchTotalProduct();
        await this.fetchProducts();
        await this.fetchOutOfStock();
        await this.fetchTotalCategories();
        await this.fetchCategories();
    },
    async mounted() {
        if (this.token !== "") {
            axios
                .post("api/auth/verifyToken", {
                    token: this.token
                })
                .then(res => {
                    if (res.hasToken) {
                        this.$router.push({ name: "Dashboard" });
                    } else if (res.data.isExpired) {
                        this.setToken(res.data.newToken);
                        this.$router.push({ name: "Dashboard" });
                    }
                })
                .catch(err => {
                    this.$router.push({ name: "Login" });
                });
        } else {
            this.$router.push({ name: "Login" });
        }
    }
};
</script>

<style>
.logout {
    width: 36px;
    height: 36px;
}

.user-name {
    font-size: 16px;
    margin-right: 10px;
}

.box {
    width: 200px !important;
    height: 150px !important;
    margin: 10px;
}

.box span {
    font-size: 18px;
}
.container {
    left: 200px;
    right: 0;
    top: 100px;
}
@media (max-width: 756px) {
    .container {
        left: 0;
        right: 0;
        top: 100px;
    }
    .box span {
        font-size: 1rem;
    }
}
</style>
