<template>
    <div class="login">
        <form
            @submit.prevent="login"
            class="form bg-light shadow p-5 float-left"
        >
            <h2 class="mb-5 font-weight-bold text-center">
                VPSDAS - Office Supply Management System
            </h2>
            <div class="form-group">
                <label for="name">Username</label>
                <input
                    class="form-control text-dark"
                    type="text"
                    name=""
                    v-model="credentials.username"
                />
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input
                    class="form-control text-dark"
                    type="password"
                    name=""
                    v-model="credentials.password"
                />
            </div>
            <div
                class="form-group text-center d-flex flex-column justify-content-center align-items-center"
            >
                <button
                    class="btn btn-dark w-100"
                    type="submit"
                    :disabled="isDisabled"
                >
                    Login
                </button>
                <span>Or</span>
                <router-link class="btn btn-outline-dark w-100" to="/register"
                    >Register</router-link
                >
            </div>
        </form>
        <div class="login-content">
            <h2>Store your Products</h2>
            <img src="../../../img/invetory_system.svg" alt="hain ka?" />
        </div>
    </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
export default {
    name: "Login",
    data() {
        return {
            credentials: {
                username: "",
                password: ""
            }
        };
    },
    computed: {
        ...mapGetters({
            isDisabled: "getDisabled",
            token: "getToken"
        })
    },
    methods: {
        async login() {
            if (
                this.credentials.username !== "" &&
                this.credentials.password !== ""
            ) {
                await this.setDisabled(true);
                await axios
                    .post("api/auth/login", this.credentials)
                    .then(res => {
                        if (res.data.success) {
                            this.messageSuccess(res.data.message);
                            this.setToken(res.data.token);
                            this.$router.push({ name: "Dashboard" });
                        } else {
                            this.messageError(res.data.message);
                        }
                        this.credentials.username = "";
                        this.credentials.password = "";
                    })
                    .catch(err => {
                        this.messageError(err.message);
                    });
                await this.setDisabled(false);
            } else {
                this.messageError("Fill all fields");
                this.credentials.password = "";
            }
        },
        messageSuccess(message) {
            this.$toast.success(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        },
        messageError(message) {
            this.$toast.error(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        },
        ...mapMutations(["setDisabled", "setLoading", "setToken", "clearToken"])
    },
    async mounted() {
        await this.setDisabled(false);
        if (this.token !== "") {
            axios
                .post("/api/auth/verifyToken", {
                    token: this.token
                })
                .then(res => {
                    if (res.data.hasToken) {
                        this.$router.push({ name: "Dashboard" });
                    } else {
                        this.clearToken();
                    }
                })
                .catch(err => {
                    this.clearToken();
                });
        } else {
            this.clearToken();
        }
    }
};
</script>

<style scoped>
.login {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    height: 100vh;
}

img {
    width: 500px;
    height: 500px;
}

.login-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    form {
        width: 350px;
    }

    form h2 {
        font-size: 20px;
    }

    .form-group label {
        font-size: 16px;
    }

    .form-group .btn {
        width: 100% !important;
    }

    .login-content {
        width: 75%;
    }
    .login-content img {
        width: 250px;
    }
}
</style>
