<template>
    <div class="not-found">
        <img src="../../../img/not_found.svg" alt="hain ka?" />
        <span>Page not Found</span>
        <router-link to="/login">Go to Login Page</router-link>
    </div>
</template>

<script>
export default {};
</script>

<style>

.not-found {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found img {
    width: 300px;
    height: 300px;
}

.not-found span {
    font-size: 24px;
}
</style>
