<template>
    <div class="register bg-dark">
        <form @submit.prevent="register" class="bg-light shadow p-5">
            <h4 class="mb-5 font-weight-bold">Create your account</h4>
            <div class="form-group">
                <label for="name">Full Name</label>
                <input
                    class="form-control text-dark"
                    type="text"
                    name=""
                    v-model="account.name"
                />
            </div>
            <div class="form-group">
                <label for="name">Username</label>
                <input
                    class="form-control text-dark"
                    type="text"
                    name=""
                    v-model="account.username"
                />
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input
                    class="form-control text-dark"
                    type="password"
                    name=""
                    v-model="account.password"
                />
            </div>
            <div class="form-group">
                <label for="name">Confirm Password</label>
                <input
                    class="form-control text-dark"
                    type="password"
                    name=""
                    v-model="account.password_confirmation"
                />
            </div>
            <div
                class="form-group text-center d-flex flex-column justify-content-center align-items-center"
            >
                <input
                    class="btn btn-dark w-100"
                    type="submit"
                    value="Register"
                    :disabled="isDisabled"
                />
                <span>Or</span>
                <router-link class="btn btn-outline-dark w-100" to="/login"
                    >Login</router-link
                >
            </div>
        </form>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
    data() {
        return {
            account: {
                name: "",
                username: "",
                password: "",
                password_confirmation: ""
            }
        };
    },
    computed: {
        ...mapGetters({
            isDisabled: "getDisabled"
        })
    },
    methods: {
        ...mapMutations(["setDisabled"]),
        async register() {
            await this.setDisabled(true);
            if (this.account.password !== this.account.password_confirmation) {
                this.messageError("password is not match");
                this.setDisabled(false);
                return;
            }
            axios
                .post("api/auth/register", this.account)
                .then(res => {
                    if (res.data.success) {
                        this.messageSuccess(res.data.message);
                        this.clearFields();
                        this.$router.push({ name: "Login" });
                    } else {
                        for (var i in res.data.errors) {
                            this.messageError(res.data.errors[i][0]);
                        }
                        this.setDisabled(false);
                    }
                })
                .catch(err => {
                    this.messageError(err.message);
                });
        },
        clearFields() {
            this.account.name = "";
            this.account.username = "";
            this.account.password = "";
            this.account.password_confirmation = "";
        },
        messageSuccess(message) {
            this.$toast.success(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        },
        messageError(message) {
            this.$toast.error(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        }
    }
};
</script>

<style scoped>
.register {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
}
</style>
