<template>
    <div class="product">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="avail">Available Products</span>
            <button
                class="btn btn-dark add-product shadow"
                data-toggle="modal"
                data-target="#addProduct"
            >
                <i class="fas fa-plus-circle"></i> Add Product
            </button>
        </div>
        <table class="table shadow">
            <thead class="bg-dark text-light">
                <th class="text-center">Actions</th>
                <th>ID</th>
                <th>Name</th>
                <th>Available Stock</th>
                <th>Category</th>
            </thead>
            <tbody>
                <tr v-for="(item, index) in products.data" :key="index">
                    <td
                        class="d-flex justify-content-center align-items-center"
                    >
                        <button
                            class="btn btn-action"
                            data-toggle="modal"
                            data-target="#editProduct"
                            v-on:click="editProduct(item)"
                        >
                            <i class="fas fa-edit"></i>
                        </button>
                        <button
                            class="btn btn-action"
                            data-toggle="modal"
                            data-target="#deleteProduct"
                            v-on:click="currentId(item.id)"
                            :disabled="isDisabled"
                        >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.stock }}</td>
                    <td>{{ item.category }}</td>
                </tr>
            </tbody>
        </table>

        <pagination
            class="float-right pagination pagination-sm"
            :data="products"
            @pagination-change-page="fetchProducts"
        >
            <span slot="prev-nav" class="text-dark">&lt; Previous</span>
            <span slot="next-nav" class="text-dark">Next &gt;</span>
        </pagination>

        <!-- Add Product Modal -->
        <div
            class="modal fade"
            id="addProduct"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addProductTitle"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductTitle">
                            Add Product
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="add()" class="form p-3">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    id="name"
                                    v-model="product.name"
                                />
                            </div>
                            <div class="form-group">
                                <label for="stock">Stock</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    id="stock"
                                    v-model="product.stock"
                                />
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select
                                    class="form-control"
                                    id="category"
                                    v-model="product.category"
                                >
                                    <option class="disabled">
                                        -- select a category --</option
                                    >
                                    <option
                                        v-for="(category,
                                        index) in categories"
                                        :key="index"
                                        >{{ category.name }}</option
                                    >
                                </select>
                            </div>
                            <div class="form-group float-right">
                                <button
                                    id="btnAddProduct"
                                    type="submit"
                                    class="btn btn-dark add-product"
                                    :disabled="isDisabled"
                                >
                                    <i class="fas fa-plus-circle"></i> Add
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal"
                                >
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Product Modal -->
        <div
            class="modal fade"
            id="editProduct"
            tabindex="-1"
            role="dialog"
            aria-labelledby="editProductTitle"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProductTitle">
                            Edit Product
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            @submit.prevent="update(product)"
                            class="form p-3"
                        >
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    name=""
                                    id="name"
                                    v-model="product.name"
                                />
                            </div>
                            <div class="form-group">
                                <label for="stock">Stock</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    name=""
                                    id="stock"
                                    v-model="product.stock"
                                />
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select
                                    class="form-control"
                                    id="category"
                                    v-model="product.category"
                                >
                                    <option> -- select a category --</option>
                                    <option
                                        v-for="(category,
                                        index) in categories.data"
                                        :key="index"
                                        >{{ category.name }}</option
                                    >
                                </select>
                            </div>
                            <div class="form-group float-right">
                                <button
                                    type="submit"
                                    class="btn btn-dark add-product"
                                    :disabled="isDisabled"
                                >
                                    Update
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal"
                                >
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Product Modal -->
        <div
            class="modal fade"
            id="deleteProduct"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addProductTitle"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductTitle">
                            Delete Product
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this data?</p>
                    </div>
                    <div class="modal-footer float-right">
                        <button
                            id="btnAddProduct"
                            v-on:click="delProduct(product.id)"
                            class="btn btn-dark add-product"
                            :disabled="isDisabled"
                        >
                            Delete
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
    data() {
        return {
            objData: [],
            product: {
                id: "",
                name: "",
                price: "",
                stock: "",
                category: ""
            }
        };
    },
    computed: {
        ...mapGetters({
            products: "getProducts",
            categories: "getCategories1",
            message: "getMessageProduct",
            isDisabled: "getDisabled",
            isSuccess: "getSuccessProduct"
        })
    },
    methods: {
        async add() {
            await this.setDisabled(true);
            await this.addProduct(this.product);
            if (this.isSuccess) {
                this.messageSuccess(this.message);
                $("#addProduct")
                    .modal("hide")
                    .data("bs.modal", null);
                $("#addProduct").on("hidden", function() {
                    $(this).data("modal", null);
                });
                this.clearFields();
                this.fetchProducts();
            } else {
            }
            await this.setDisabled(false);
        },
        async update(product) {
            await this.setDisabled(true);
            await this.updateProduct(product);
            if (this.isSuccess) {
                this.messageSuccess(this.message);
                $("#editProduct")
                    .modal("hide")
                    .data("bs.modal", null);
                $("#editProduct").on("hidden", function() {
                    $(this).data("modal", null);
                });
                this.clearFields();
                this.fetchProducts();
            } else {
                this.messageError("All fields required!");
            }
            await this.setDisabled(false);
        },
        currentId(id) {
            this.product.id = id;
        },
        async delProduct(id) {
            await this.setDisabled(true);
            await this.deleteProduct(id);
            this.messageSuccess(this.message);
            $("#deleteProduct")
                .modal("hide")
                .data("bs.modal", null);
            $("#deleteProduct").on("hidden", function() {
                $(this).data("modal", null);
            });
            await this.setDisabled(false);
            this.clearFields();
            this.fetchProducts();
        },
        editProduct(item) {
            this.product.id = item.id;
            this.product.name = item.name;
            this.product.price = item.price;
            this.product.stock = item.stock;
            this.product.category = item.category;
        },
        clearFields() {
            this.product.id = "";
            this.product.name = "";
            this.product.price = "";
            this.product.stock = "";
            this.product.category = "";
        },
        ...mapActions([
            "fetchProducts",
            "addProduct",
            "deleteProduct",
            "updateProduct",
            "fetchCategories"
        ]),
        ...mapMutations(["clearMessage", "setDisabled"]),
        messageSuccess(message) {
            this.$toast.success(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        },
        messageError(message) {
            this.$toast.error(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        }
    }
};
</script>

<style>
button {
    width: 80px;
}

.product {
    width: 900px;
    position: relative;
    margin-left: 15rem;
    margin-top: 5rem;
}


.avail {
    font-size: 20px;
}

.add-product {
    width: 140px;
}

.btn-action {
    width: 40px;
}

.page-link {
    color: #343a40 !important;
}
.page-item.active .page-link {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.product {
    position: relative;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(113 113 113 / 25%);
}

@media (max-width: 750px) {
    .product {
        width: 600px;
        margin-left: 2rem;
        margin-top: 2rem;
    }
}
</style>
