<template>
    <div class="category">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="avail">Here is your categories</span>
            <button
                class="btn btn-dark add-category"
                data-toggle="modal"
                data-target="#addCategory"
            >
                <i class="fas fa-plus-circle"></i> Add Category
            </button>
        </div>
        <table class="table shadow">
            <thead class="bg-dark text-light">
                <th class="text-center">Actions</th>
                <th>ID</th>
                <th>Name</th>
            </thead>
            <tbody>
                <tr v-for="(category, index) in categories.data" :key="index">
                    <td
                        class="d-flex justify-content-center align-items-center"
                    >
                        <button
                            class="btn btn-action"
                            data-toggle="modal"
                            data-target="#editCategory"
                            v-on:click="editCategory(category)"
                        >
                            <i class="fas fa-edit"></i>
                        </button>
                        <button
                            class="btn btn-action"
                            data-toggle="modal"
                            data-target="#deleteCategory"
                            v-on:click="currentId(category.id)"
                            :disabled="isDisabled"
                        >
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                </tr>
            </tbody>
        </table>

        <pagination
            class="float-right pagination pagination-sm"
            :data="categories"
            @pagination-change-page="fetchCategories"
        >
            <span slot="prev-nav" class="text-dark">&lt; Previous</span>
            <span slot="next-nav" class="text-dark">Next &gt;</span>
        </pagination>

        <!-- Add Category Modal -->
        <div
            class="modal fade"
            id="addCategory"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addCategoryTitle"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCategoryTitle">
                            Add Category
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="add()" class="form p-3">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    id="name"
                                    v-model="category.name"
                                />
                            </div>
                            <div class="form-group float-right">
                                <button
                                    id="btnAddCategory"
                                    type="submit"
                                    class="btn btn-dark add-category"
                                    :disabled="isDisabled"
                                >
                                    <i class="fas fa-plus-circle"></i> Add
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal"
                                >
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Category Modal -->
        <div
            class="modal fade"
            id="editCategory"
            tabindex="-1"
            role="dialog"
            aria-labelledby="editCategoryTitle"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editCategoryTitle">
                            Edit Category
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            @submit.prevent="update(category)"
                            class="form p-3"
                        >
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    name=""
                                    id="name"
                                    v-model="category.name"
                                />
                            </div>
                            <div class="form-group float-right">
                                <button
                                    type="submit"
                                    class="btn btn-dark add-category"
                                    :disabled="isDisabled"
                                >
                                    Update
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal"
                                >
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Category Modal -->
        <div
            class="modal fade"
            id="deleteCategory"
            tabindex="-1"
            role="dialog"
            aria-labelledby="deleteCategoryTitle"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteCategoryTitle">
                            Delete Category
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this data?</p>
                    </div>
                    <div class="modal-footer float-right">
                        <button
                            id="btnDeleteCategory"
                            v-on:click="delCategory(category.id)"
                            class="btn btn-dark add-category"
                            :disabled="isDisabled"
                        >
                            Delete
                        </button>
                        <button
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
    data() {
        return {
            category: {
                id: "",
                name: ""
            }
        };
    },
    computed: {
        ...mapGetters({
            categories: "getCategories",
            message: "getMessageCategory",
            isDisabled: "getDisabled",
            isSuccess: "getSuccessCategory"
        })
    },
    methods: {
        async add() {
            await this.setDisabled(true);
            await this.addCategory(this.category);
            if (this.isSuccess) {
                this.messageSuccess(this.message);
                $("#addCategory")
                    .modal("hide")
                    .data("bs.modal", null);
                $("#addCategory").on("hidden", function() {
                    $(this).data("modal", null);
                });
                this.clearFields();
                this.fetchCategories();
            } else {
            }
            await this.setDisabled(false);
        },
        async update(category) {
            await this.setDisabled(true);
            await this.updateCategory(category);
            if (this.isSuccess) {
                this.messageSuccess(this.message);
                $("#editCategory")
                    .modal("hide")
                    .data("bs.modal", null);
                $("#editCategory").on("hidden", function() {
                    $(this).data("modal", null);
                });
                this.clearFields();
                this.fetchCategories();
            } else {
                this.messageError("All fields required!");
            }
            await this.setDisabled(false);
        },
        currentId(id) {
            this.category.id = id;
        },
        async delCategory(id) {
            await this.setDisabled(true);
            await this.deleteCategory(id);
            this.messageSuccess(this.message);
            $("#deleteCategory")
                .modal("hide")
                .data("bs.modal", null);
            $("#deleteCategory").on("hidden", function() {
                $(this).data("modal", null);
            });
            await this.setDisabled(false);
            this.clearFields();
            this.fetchCategories();
        },
        editCategory(item) {
            this.category.id = item.id;
            this.category.name = item.name;
        },
        clearFields() {
            this.category.id = "";
            this.category.name = "";
        },
        messageSuccess(message) {
            this.$toast.success(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        },
        messageError(message) {
            this.$toast.error(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        },
        ...mapActions([
            "fetchCategories",
            "addCategory",
            "deleteCategory",
            "updateCategory"
        ]),
        ...mapMutations(["clearMessage", "setDisabled"])
    }
};
</script>

<style>


.category {
    width: 900px;
    position: relative;
    margin-left: 15rem;
    margin-top: 5rem;
}

.avail {
    font-size: 20px;
}

.add-category {
    width: 150px;
}

.btn-action {
    width: 40px;
}

.page-link {
    color: #343a40 !important;
}
.page-item.active .page-link {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(113 113 113 / 25%);
}



@media (max-width: 750px) {
    .category {
        width: 600px;
        margin-left: 2rem;
        margin-top: 2rem;
    }
}
</style>
