<template>
    <nav
        class="navbar navbar-expand-lg bg-dark shadow text-light d-flex justify-content-between align-content-center position-fixed"
    >
        <h4 class="ml-5">VPSDAS - Office Supply Management System</h4>
        <div class="d-flex align-items-center">
            <span class="user-name">Welcome, {{ user.name }}</span>
            <button
                class="btn btn-danger rounded-circle logout shadow"
                v-on:click="logout"
                :disabled="isDisabled"
            >
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
    </nav>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
    computed: {
        ...mapGetters({
            token: "getToken",
            user: "getUser",
            isDisabled: "getDisabled"
        })
    },
    methods: {
         ...mapMutations(["clearToken", "setDisabled"]),
        async logout() {
            await this.setDisabled(true);
            await axios
                .post("api/auth/logout", { token: this.token })
                .then(res => {
                    this.messageSuccess(res.data.message);
                    this.clearToken();
                    this.$router.push({ name: "Login" });
                })
                .catch(err => {
                    this.messageError(err.message);
                });
        },
        messageSuccess(message) {
            this.$toast.success(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        },
        messageError(message) {
            this.$toast.error(message, {
                position: "top-right",
                timeout: 5000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 2,
                showCloseButtonOnHover: true,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false
            });
        }
    }
};
</script>

<style>
    nav {
        height: 10vh !important;
        width: 100%;
        z-index: 2000;
    }
</style>
